<% title "Patient Details" %>
<p>
  <strong><%= t(:first_name) %>:</strong>
  <%= @patient.first_name %>
</p>

<p>
  <strong><%= t(:last_name) %>:</strong>
  <%= @patient.last_name %>
</p>

<p>
  <strong><%= t(:phone_number) %>:</strong>
  <%= @patient.phone_number %>
</p>

<p><%= link_to t(:edit), edit_patient_path(@patient), class: "btn btn-primary" %></p>
<%= link_to t(:back), patients_path, class: "btn btn-default" %>
