<% title "Patient Details" %>
<p>
  <strong>First Name:</strong>
  <%= @patient.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @patient.last_name %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @patient.phone_number %>
</p>

<p><%= link_to 'Edit', edit_patient_path(@patient), class: "btn btn-primary" %></p>
<%= link_to 'Back', patients_path, class: "btn btn-default" %>
