<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to Rails.application.config.app_name, user_root_path, class: "navbar-brand" %>
  </div>
  <!-- /.navbar-header -->

  <ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-language fa-fw"></i> <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <li>
          <%= link_to locale: :en do %>
              <i class="fa fa-fw"></i><%= t(:english) %>
          <% end %>
        </li>
        <li>
          <%= link_to locale: :es do %>
          <i class="fa fa-fw"></i><%= t(:spanish) %>
          <% end %>
        </li>
      </ul>
      <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <li>
          <%= link_to edit_user_registration_path do %>
              <i class="fa fa-user fa-fw"></i> <%= t :user_profile %>
          <% end %>
        </li>
        <li><a href="#"><i class="fa fa-gear fa-fw"></i> <%= t(:settings) %></a>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out fa-fw"></i> <%= t(:logout) %>
          <% end %>
        </li>
      </ul>
      <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
  </ul>
  <!-- /.navbar-top-links -->

  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <li class="sidebar-search">
          <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
          </div>
          <!-- /input-group -->
        </li>
        <li>
          <%= link_to user_root_path do %>
              <i class="fa fa-dashboard fa-fw"></i> <%= t(:dashboard) %>
          <% end %>
        </li>
        <li>
          <%= link_to patients_path do %>
              <i class="fa fa-table fa-fw"></i> <%= t(:your_patients) %>
          <% end %>
        </li>
        <li>
          <a href="#"><i class="fa fa-wrench fa-fw"></i> <%= t(:your_profile) %><span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <%= link_to t(:edit), edit_user_registration_path %>
            </li>
          </ul>
          <!-- /.nav-second-level -->
        </li>
      </ul>
    </div>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
</nav>
