<% title t(:edit) + " " + resource_name.to_s.humanize %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
    <fieldset>
      <%= devise_error_messages! %>

      <div class="field form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "E-mail" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field form-group">
        <%= f.label :name, t(:new_password) %>
        <% if @minimum_password_length %>
            <br/>
            <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: t(:new_password),
                             title: "Leave blank if you don't want to change it" %>
      </div>

      <div class="field form-group">
        <%= f.label :name, "New Password Confirmation" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control",
                             placeholder: "New Password Confirmation", title: "Leave blank if you don't want to change it" %>
      </div>
      <br>
      <div class="field form-group">
        <%= f.label :name, "Current Password" %>
        <%= f.password_field :current_password, autocomplete: "off", class: "form-control",
                             placeholder: "Current Password", title: "We need your current password to confirm your changes" %>
      </div>

      <%= f.submit "Update", class: "btn btn-lg btn-success" %>
    </fieldset>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name),
                          data: {confirm: "Are you sure?"}, method: :delete, class: "btn btn-primary" %></p>

<%= link_to "Back", :back, class: "btn btn-default" %>
